.home {
  max-width: 1280px;
}


@media (max-width: 1024px) {
  .home {
    width: 1024px;
  }
}

@media (max-width: 768px) {
  .home {
    max-width: 768px;
    max-height: 480px;
  }
}

@media (max-width: 375px) {
  .home {
    max-width: 375px;
    max-height: 230px;
    padding-bottom: 40px;
  }
}