.registration__textarea {
  margin-bottom: 10px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  opacity: 70%;
  height: 80px;
  resize: none;
}

@media (max-width: 1024px) {
  .registration__textarea {
    font-size: 14px;
  }
}

@media (max-width: 768px) {
  .registration__textarea {
    font-size: 14px;
  }
}

@media (max-width: 375px) {
  .registration__textarea {
    font-size: 12px;
  }
}