.slogan__quotes {
  font-size: 32px;
}


@media (max-width: 1024px) {
  .slogan__quotes {
    font-size: 28px;
  }
}

@media (max-width: 768px) {
  .slogan__quotes {
    font-size: 40px;
    padding: 0;
    margin: 0;
  }
}

@media (max-width: 375px) {
  .slogan__quotes {
    font-size: 32px;
    padding: 0;
    margin: 0;
  }
}
