.contacts {
  position: relative;
  max-width: 1280px;
  height: 525px;
  padding: 0;
  text-align: center;
}


@media (max-width: 1024px) {
  .contacts {
    max-width: 1024px;
  }
}

@media (max-width: 768px) {
  .contacts {
    max-width: 768px;
    height: 440px;
  }
}

@media (max-width: 375px) {
  .contacts {
    max-width: 375px;
    height: 550px;
  }
}