.home__title {
  display: flexbox;
  line-height: 0.8; 
  height: 180px;
  position: absolute;
  top: 150px;
  right: 100px;
  margin: 0 auto;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5)
}

@media (max-width: 1024px) {
  .home__title {
    top: 130px;
    left: 15px;
    height: 160px;
  }
}

@media (max-width: 768px) {
  .home__title {
    top: 100px;
    left: 10px;
    height: 140px;
  }
}

@media (max-width: 320px) {
  .home__title {
    top: 80px;
    left: 5px;
    height: 120px;
  }
}


