.goal__picture {
  width: 1280px;
  height: 550px;
  position: relative;
  padding: 0;
  margin: 0;
  z-index: 0;
}

@media (max-width: 1024px) {
  .goal__picture {
    visibility: visible;
  }
}

@media (max-width: 768px) {
  .goal__picture {
    width: 768px;
    height: 420px;
  }
}

@media (max-width: 375px) {
  .goal__picture {
    width: 375px;
    height: 200px;
  }
}
