.slogan__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  text-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  top: 120px;
  left: 135px;
  z-index: 1;
}

@media (max-width: 1024px) {
  .slogan__content {
    left: 80px;
  }
}

@media (max-width: 768px) {
  .slogan__content {
    left: 45px;
    top: 125px;
  }
}

@media (max-width: 375px) {
  .slogan__content {
    left: 50px;
    top: 50px;
  }
}
