.home__header-item {
  font-size: 22px;
  color: #1d1d1d;
  text-shadow: 1px 1px #1d1d1d 50%;
  transition: opacity 0.4s ease;
}

.home__header-item:hover {
  opacity: 50%;
}


@media (max-width: 1024px) {
  .home__header-item {
    font-size: 18px;
  }
}

@media (max-width: 768px) {
  .home__header-item {
    font-size: 14px;
  }
}

@media (max-width: 375px) {
  .home__header-item {
    font-size: 11px;
    margin: 12px;
  }
}