.home__button {
  width: 460px;
  height: 72px;
  display: block;
  position: absolute;
  top: 450px;
  right: 100px;
  bottom: 20px;
  background-color: transparent;
  border: 1px solid #1d1d1d;
  border-radius: 10px;
  font-size: 30px;
  cursor: pointer;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.3);
  transition:  0.4s ease;
}

.home__button:hover {
 background-color: #414040;
 color: #fff;
 border: #fff;
}

@media (max-width: 1024px) {
  .home__button {
    width: 325px;
    height: 40px;
    font-size: 24px;
    top: 420px;
    right: 60px;
    bottom: 20px;
  }
}

@media (max-width: 768px) {
  .home__button {
    width: 325px;
    height: 40px;
    font-size: 24px;
    top: 370px;
    right: 30px;
    bottom: 20px;
  }
}

@media (max-width: 375px) {
  .home__button {
    width: 160px;
    height: 30px;
    font-size: 12px;
    top: 150px;
    right: 28px;
    bottom: 20px;
  }
}