.home__button {
  width: 460px;
  height: 72px;
  display: block;
  position: absolute;
  top: 450px;
  right: 100px;
  bottom: 20px;
  background-color: transparent;
  border: 1px solid #1d1d1d;
  border-radius: 10px;
  font-size: 30px;
  cursor: pointer;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.3);
  transition:  0.4s ease;
}

.home__button:hover {
 background-color: #414040;
 color: #fff;
 border: #fff;
 
}

