.reviews__item-author {
  font-style: italic;
  font-family: "Lora Italic";
  font-size: 18px;
  text-align: left;
  margin-top: 20px;
  margin-bottom: auto;
}


@media (max-width: 1024px) {
  .reviews__item-author {
    font-size: 16px;
  }
}

@media (max-width: 768px) {
  .reviews__item-author {
    font-size: 14px;
  }
}

@media (max-width: 375px) {
  .reviews__item-author {
    font-size: 18px;
  }
}