.retouch__comparison-image_after {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

.retouch__comparison-image_after img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

