.registration {
  margin: 0;
  background-image: url(../../images/registration-background.jpg);
  background-size: cover;
  background-repeat: repeat-y;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1280px;
  width: 1280px;
  min-height: 573px;
  color: #fff;
  padding-top: 20px;
}

@media (max-width: 1024px) {
  .registration {
    max-width: 1024px;
  }
}

@media (max-width: 768px) {
  .registration {
    max-width: 768px;
    flex-direction: column;
    padding-bottom: 50px;
    overflow-x: hidden;
  }
}

@media (max-width: 375px) {
  .registration {
    max-width: 375px;
  }
}
