.retouch__description {
  font-size: 24px;
  max-width: 880px;
  margin-bottom: 5px;
  margin-top: 0;
  padding: 0;
  line-height: 1.4;
}

@media (max-width: 1024px) {
  .retouch__description {
    font-size: 20px;
  }
}

@media (max-width: 768px) {
  .retouch__description {
    font-size: 18px;
    max-width: 670px;
  }
}

@media (max-width: 375px) {
  .retouch__description {
    font-size: 12px;
    padding-left: 30px;
    padding-right: 30px;
  }
}