.portfolio__gallery-link {
  width: 520px;
  height: 58px;
  display: block;
  position: absolute;
  left: 630px;
  font-family: 'Forum-Regular';
  background-color: transparent;
  border: 1px solid #1d1d1d;
  border-radius: 10px;
  font-size: 30px;
  cursor: pointer;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.3);
  transition:  0.4s ease;
  z-index: 1;
}

.portfolio__gallery-link:hover {
  background-color: #414040;
  color: #fff;
  border: #1d1d1d;
 }

 @media (max-width: 1024px) {
  .portfolio__gallery-link {
    width: 395px;
    height: 58px;
    left: 505px;
  }
}

@media (max-width: 768px) {
  .portfolio__gallery-link {
    width: 315px;
    height: 40px;
    top: 10px;
    left: 385px;
    font-size: 23px;
  }
}

@media (max-width: 375px) {
  .portfolio__gallery-link {
    width: 270px;
    height: 40px;
    top: 50px;
    left: 50px;
    font-size: 23px;
  }
}
