.portfolio {
  max-width: 1280px;
  position: relative;
}

@media (max-width: 1024px) {
  .portfolio {
    max-width: 1024px;
  }
}

@media (max-width: 768px) {
  .portfolio {
    max-width: 768px;
  }
}

@media (max-width: 375px) {
  .portfolio {
    max-width: 375px;
  }
}
