.registration__home-button {
  width: 350px;
  height: 40px;
  display: block;
  position: absolute;
  top: 20px;
  right: 110px;
  font-family: 'Forum-Regular';
  background-color: transparent;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 10px;
  font-size: 30px;
  cursor: pointer;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.3);
  transition:  0.4s ease;
  z-index: 1;
}

.registration__home-button:hover {
  background-color: #bdbdbd;
  color: #1d1d1d;
  border: #1d1d1d;
 }