.home__header {
  position: absolute;
  top: 20px;
  right: 100px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 625px;
  height: 29px;
  margin: 0 auto; 
}


@media (max-width: 1024px) {
  .home__header {
    width: 450px;
    right: 80px;
    top: 20px;
  }
}

@media (max-width: 768px) {
  .home__header {
    width: 330px;
    right: 30px;
    top: 20px;
  }
}

@media (max-width: 375px) {
  .home__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    border-top: solid #1d1d1d 1px;
    border-bottom: solid #1d1d1d 1px;
    width: 375px;
    top: 220px;
    left: 0px;
    margin: 0;
  }
}