.price__items {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 0;
  padding-top: 35px;
  padding-bottom: 30px;
}

@media (max-width: 1024px) {
  .price__items {
    gap: 30px;
  }
}

@media (max-width: 768px) {
  .price__items {
    gap: 20px;
  }
}

@media (max-width: 375px) {
  .price__items {
    gap: 20px;
    flex-direction: column;
    padding-top: 15px;
  }
}