.retouch__papercut-top {
  position: relative;
  width: 1280px;
  margin: 0;
  padding: 0;
  display: block;
}

@media (max-width: 1024px) {
  .retouch__papercut-top {
    max-width: 1024px;
  }
}

@media (max-width: 768px) {
  .retouch__papercut-top {
    max-width: 768px;
  }
}

@media (max-width: 375px) {
  .retouch__papercut-top {
    max-width: 375px;
  }
}