.modal__close-button {
  background: none;
  border: none;
  font-size: 100px;
  position: absolute;
  padding-top: 0px;
  right: 270px;
  bottom: 510px;
  color: #fff;
  cursor: pointer;
  transition: opacity 0.4s ease;
}

.modal__close-button:hover {
  opacity: 50%;
}


@media (max-width: 1024px) {
  .modal__close-button {
    right: 170px;
    bottom: 940px;
  }
}

@media (max-width: 768px) {
  .modal__close-button {
    right: 80px;
    bottom: 800px;
  }
}

@media (max-width: 375px) {
  .modal__close-button {
    right: 0px;
    bottom: 700px;
  }
}