.portfolio__gallery-item {
  width: calc(25% - 16px); 
  display: block; 
  object-fit: cover; 
  object-position: center;
  transform: scale(1);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}


@media (max-width: 1024px) {
  .portfolio__gallery-item {
    width: calc(25% - 16px);
  }
}

@media (max-width: 768px) {
  .portfolio__gallery-item {
    width: calc(50% - 16px);
  }
}

@media (max-width: 375px) {
  .portfolio__gallery-item {
    margin: 0 auto;
    width: calc(84% - 16px);

  }
}
