@font-face {
  font-family: 'Forum-Regular';
  src: url('../fonts/Forum-Regular.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'Lora';
  src: url('../fonts/Lora.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}