.home__picture {
  margin-top: 0;
  margin-left: 0;
  width: 520px;
  height: 580px;
}

@media (max-width: 1024px) {
  .home__picture {
    width: 470px;
    height: 540px;
  }
}

@media (max-width: 768px) {
  .home__picture {
    width: 400px;
    height: 480px;
  }
}

@media (max-width: 375px) {
  .home__picture {
    width: 180px;
    height: 210px;
  }
}