.retouch {
  padding-top: 0;
  margin: 0;
  margin-bottom: 20px;
}

@media (max-width: 1024px) {
  .retouch {
    max-width: 1024px;
  }
}

@media (max-width: 768px) {
  .retouch {
    max-width: 768px;
  }
}

@media (max-width: 375px) {
  .retouch {
    max-width: 375px;
  }
}