:root {
  background: url('../../images/background.jpg'); 
  background-size: contain;
  background-repeat: repeat;
  margin: 0 auto;
  padding: 0;
  position: relative;
  overflow-x: hidden;
  max-width: 1280px;
  min-width: 320px;
  width: 100%;
  color: #1d1d1d;
  scroll-behavior: smooth;
}

h1, h2, h3 {
  font-family: 'Forum-Regular';
  font-weight: normal;
  text-transform: uppercase;
}

p {
  font-family: 'Lora';
  font-weight: normal;
}

button {
  font-family: 'Forum-Regular';
  font-weight: normal;
  text-transform: uppercase;
}

a {
  text-decoration: none;
  color: #1d1d1d;
}

label {
  font-family: "Lora";
  color: #1d1d1d;
}

input {
  outline: none;
  
}

option {
  outline: none;
}

@media (max-width: 1024px) {
  :root {
    background-size: contain;
    max-width: 1024px;
  }
}

@media (max-width: 768px) {
  :root {
    background-size: contain;
    max-width: 768px;
    overflow-x: hidden;
  }
}

@media (max-width: 375px) {
  :root {
    background-size: contain;
    max-width: 375px;
  }
}