.slogan__papercut {
  visibility: visible;
}

@media (max-width: 1024px) {
  .slogan__papercut {
    visibility: visible;
  }
}

@media (max-width: 768px) {
  .slogan__papercut {
    width: 768px;
    height: 420px;
  }
}

@media (max-width: 375px) {
  .slogan__papercut {
    width: 375px;
    height: 200px;
  }
}
