.gallery__title {
  font-size: 64px;
  margin-bottom: 20px;
  margin: 0 auto;
  position: relative;
  left: 108px;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5)
}


@media (max-width: 1024px) {
  .gallery__title {
    font-size: 50px;
    left: 90px;
  }
}

@media (max-width: 768px) {
  .gallery__title {
    bottom: 13px;
    font-size: 32px;
    left: 50px;
  }
}

@media (max-width: 375px) {
  .gallery__title {
    font-size: 28px;
    bottom: 45px;
    left: 45px;
  }
}