.registration__input {
  margin-bottom: 8px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  opacity: 70%;
}


@media (max-width: 1024px) {
  .registration__input {
    font-size: 14px;
  }
}

@media (max-width: 768px) {
  .registration__input {
    font-size: 14px;
  }
}

@media (max-width: 375px) {
  .registration__input {
    font-size: 10px;
  }
}
