.reviews__item {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  text-align: center;
  max-width: 332px;
  height: 480px;
  height: 100%;
  color: #1d1d1d;
}

@media (max-width: 375px) {
  .reviews__item {
    height: 380px;
  }
}
