.about__paragraph {
  font-size: 16px;
  margin: 0;
}

@media (max-width: 1024px) {
  .about__paragraph {
    font-size: 13px;
  }
}

@media (max-width: 768px) {
  .about__paragraph {
    font-size: 12px;
  }
}

@media (max-width: 375px) {
  .about__paragraph {
    font-size: 11px;
  }
}